@model INFOION.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <h4> Списко статей </h4>
    <table class="table">
    <tbody>
    @foreach(var item in Model.Articles )
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <a asp-controller="Articles" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Articles" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Articles" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
